.addButton {
  @apply w-full rounded-md border border-transparent bg-green-500 px-2 py-2 font-medium text-white shadow-sm hover:bg-green-600  focus:outline-none ;
    text-transform: uppercase;
    letter-spacing: .7px;
    transition: all .5s ease-in-out;
  &:disabled {
    opacity: 0.4;
  }
}

.wrapper {
  @apply px-3 py-5 relative col-span-4 flex flex-col justify-between items-center;
  background: #ffffffd1;
  border-radius: 12px;
  min-height: 250px;
}
.iconWrapper {
    @apply flex gap-x-4 items-center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.title {
    @apply text-center text-2xl;
    color: #2a2e2e;
    text-transform: capitalize;
    letter-spacing: .8px;
}
