.addGroups {
  @apply flex justify-between items-center gap-5;
}

.field {
  @apply block  border-blue-400 px-3 focus:border-none focus:no-underline focus:outline-none w-1/2 text-base;
  border-bottom: 2px solid #2e2a2a;
  color: #2e2a2a;
  padding-left: 5px;
  padding-bottom: 3px;
  letter-spacing: 0.2px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  &:focus {
    border-bottom: 2px solid #2e2a2a;
  }
}

.addButton {
  @apply inline-flex items-center  border border-transparent  px-2 py-2 text-sm font-medium shadow-sm  focus:outline-none  focus:ring-offset-2 ;
  // background-color: #2e2a2a;
  border: 2px solid #2e2a2a;
  transition: all 0.4s ease-in-out;
  
  &:disabled {
    opacity: 0.4;
  }

  &:hover {
    background-color: #2e2a2a;
    & path {
      stroke: yellow;
    }
    // box-shadow: inset 0px 0px 1px 2px yellow;
  }
}
