.addGroups {
  @apply px-3 py-5 col-span-4;
  background: #02043b87;
  border-radius: 12px;
}

.field {
  @apply block rounded-md border-gray-300 px-3 py-1 focus:border-none focus:no-underline focus:outline-none focus:ring-2 focus:ring-indigo-500 w-1/2 text-lg w-full mb-5;
  resize: none;
}

.addButton {
  @apply flex w-full justify-center rounded-md border border-transparent bg-indigo-600 px-2 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;

  &:disabled {
    opacity: 0.4;
  }
}
